body{
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url(/images./crop-1-700x622.jpg);
    background-attachment: fixed;
}
h1{
    font-size: 70px;
    color:mediumaquamarine;
    font-style: bold;
    text-align: center;
    font-family: 'Monoton', cursive;
}
p{
font-size: 40px;
color:white;
font-style: italic;
}
form{
font-style: italic;
color:white;
font-size:30px;
}
input[type="checkbox"]
{
    width:20px;
    height: 20px;
    margin:5%
}
