body{
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url(/images./house.jpg);
    background-size:fixed;
    background-position: fixed;
}
h1{
    font-size: 90px;
    color:blue;
    font-style: italic;
}
p{
font-size: 40px;
color:blue;
font-style: italic;
}
form{
font-style: italic;
color:black;
font-size:30px;
}